.PrevisaoSeguinteCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.PrevisaoSeguinteDiv {
    min-width: 20%;
   /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    padding: 2px;
    margin-bottom: 4px;
}

.Location {
    width: 100%;
    font-size: 1.3em;
    color: rgb(45, 49, 49);
    text-align: center;
}

.titleh3 {
    margin: auto;
}

.sky_ico {
    height: 100%;
}

