* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #083c68;
  }
  
  .App {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    width: 60vw;
    margin: auto;
    margin-top: 5vh;
    border-radius: 1em;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.336);
  }
  
  .App h1 {
    padding: .5em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.337);
  }
  
  .App form {
    margin-top: 1em;
    padding-bottom: 1em;
  }
  
  .App form span {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(59, 65, 65);
  }
  
  .App form label > input {
    height: 2em;
    margin-top: 1em;
    border-radius: .3em;
    border: 1.5px solid black;
    padding-left: 4px;
  }
  
  .btn {
    border-radius: .5em;
    height: 2em;
    border: 1px solid rgba(0, 0, 0, 0.693);
    padding: .3em;
    margin-left: .5em;
    background-color: #083b68d7;
    color: rgba(255, 255, 255, 0.966);
    font-weight: bolder;
  }
  
  .temp {
    padding-top: 1.5em;
    border-top: 2px solid rgba(0, 0, 0, 0.362);
  }
  
  .Location {
    display: flex;
    width: 35%;
    margin: auto;
    font-size: 1.3em;
    color: rgb(45, 49, 49);
  }
  .Location h2 {
    margin: auto;
  }
  
  .img_cont{
    padding-top: .5em;
    height: 2em;
    margin-left: .5em;
  }
  
  .img_cont img {
    height: 100%;
  }
  
  
  
  .Temp_Humidity {
    padding-top: 1em;
    font-size: 1.2em;
    font-weight: bolder;
    color: rgb(59, 65, 65);
    width: 35%;
    margin: auto;
  }
  .Temp_Humidity > div {
    width: 60%;
    margin: auto;
    margin-bottom: 1em;
  }
  
  .Temp_r {
    width: 100%;
    border-radius: 0.3em;
    background-color: rgb(9, 150, 9);
    height: 0.3em;
    margin-top: 0.2em;
    margin-right: 0.2em;
  }
  .Umi_r {
    width: 100%;
    border-radius: 0.3em;
    background-color: aqua;
    height: 0.3em;
    margin-top: 0.2em;
    margin-right: 0.2em;
  }
  
  .sky {
    display: flex;
    width: 15%;
    margin: auto;
    margin-top: 1em;
    font-size: 1.1em;
    padding-bottom: 1em;
  }
  
  .sky_ico {
    height: 100%;
  }
  
  .sky p {
    padding-top: .6em;
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(59, 65, 65);
  }



@media (max-width: 1150px) {
  .sky {
    width: 30%;
  }
  .Temp_Humidity {
    width: 40%;
  }
  .Location {
    width: 40%;
  }
}
@media (max-width: 920px) {
  .sky {
    width: 35%;
  }
  .Temp_Humidity {
    width: 50%;
  }
  .Location {
    width: 50%;
  }
  .App {
    width: 90vw;
  }
}
@media (max-width: 730px) {
  .sky {
    width: 40%;
  }
  .Temp_Humidity {
    width: 60%;
  }
  .Location {
    width: 60%;
  }
}
@media (max-width: 300px) {
  .sky {
    width: 50%;
  }
  .Temp_Humidity {
    width: 100%;
  }
  .Location {
    width: 70%;
  }
}
  